body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #1e90ff;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1565c0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #file-content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  #close-file-content {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  
  @keyframes buttonClick {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
  }
  
  .button-click-animation {
    animation: buttonClick 0.2s ease;
  }